.register {
  position: relative;
  color: black;
  max-width: 358px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 163px;
}

.register__button {
  margin-top: 216px;
  color: #000000;
  width: 100%;
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}

.register__fields {
  display: flex;
  margin: auto;
  box-shadow: none;
  padding: 0;
  border: none;  
}

.register__input {
  margin-top: 30px;
  border: none;
  width: 100%;
  padding-bottom: 13px;
  color: white;
  background-color: black;
  border-bottom: 2px solid #CCCCCC;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;  
  outline: none;
}

.register__link {
  color: white;
  margin: auto;
  text-decoration: none;  
}

.register__question {
  color: white;
  text-align: center;
}

.register__signup {
  display: flex;
  flex-direction: row;
}

.register__title {
  max-height: 29px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}